@model XmTest.Data.Entity.Notes
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="note">
    <h4 class="align">@Model.Title</h4>
    <h5 class="align_rg">——千千阙歌，照亮我的心灵！</h5>
    <div class="note_Content">
        @(new HtmlString(Model.Content))
    </div>
    <div class="note_bottom">
        <div class="align_rg">
            <span>@Model.UpdateTime.ToString("yyyy-MM-dd HH:mm")   赞(@Model.ThumbUpCount)</span><span>踩(0)</span><span>评论(0)</span>
        </div>
    </div>
</div>