body {
    margin: 0 auto;
}

html, body, #wrap {
    height: 100%;
}

    body > #wrap {
        height: auto;
        min-height: 100%;
    }

#main {
    padding-bottom: 100px;
}
/* 必须使用和footer相同的高度 */
#footer {
    position: relative;
    margin-top: -100px; /* footer高度的负值 */
    height: 100px;
    clear: both;
}

.container {
    margin: 0 auto;
    width: auto;
    height: auto;
    min-height: 100%;
    padding-bottom: 100px;
}

.top {
    height: 50px;
    width: auto;
}

    .top ul {
        width: 100%;
        padding: 0;
        white-space: normal;
    }

        .top ul li {
            display: inline-block;
            letter-spacing: normal;
            padding: 3px 29px 3px 29px;
            font-size: 20px;
            list-style: none;
        }

.top ul li:hover {
    background-color: rgba(135, 167, 241, 0.56);
}

.top li a {
    color: #000000;
}
    .top li a:hover {
        /*background-color: rgba(135, 167, 241, 0.56);*/
        color: #0094ff;
    }

.main {
    width: 100%;
}

.bottom {
    position: relative;
    margin-top: -100px;
    height: 100px;
    clear: both;
    /*position:absolute;
    bottom:0;*/
    /*position:fixed;
    bottom:0px;
    z-index:99999;*/
}

.bottom_lab {
    padding-top: 65px;
    text-align: center;
    font-size: 14px;
}
