<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="XmDBConetext" connectionString="data source=.;initial catalog=XmTest;persist security info=True;user id=sa;password=sa123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>

