.note {
    padding: 15px 10px 5px 10px;
    margin:4px;
    line-height: 25px;
    display: block;
    word-break: break-all;
    word-wrap: break-word;
    background: #fff;
    border-top:1px dashed #808080;
    border-radius:2px;
}

