@{
    ViewBag.Title = "Error";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
</head>
<body>
    <img src="~/Contents/images/error/erbg.png" style="height:90%;width:90%;" />
    @*<hgroup>
        <h1>错误。</h1>
        <h2>处理你的请求时出错。</h2>
       
    </hgroup>*@
</body>
</html>