@{
    ViewBag.Title = "MagicCubePicture";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<link href="~/Contents/css/demo/magiccube.css" rel="stylesheet" />
<div class="magic_container">
    <div class="top"><img src="https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1552565193598&amp;di=aeb927d6a2b6aa12916d68c2b78cd73f&amp;imgtype=0&amp;src=http%3A%2F%2Fimg.mp.itc.cn%2Fupload%2F20170617%2F8500a5bbafd54921bdd4dee25877d1a2_th.jpg" alt=""></div>
    <div class="bottom"><img src="https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1552565193595&amp;di=85fd22206cd3a74101e3bdf088fe2823&amp;imgtype=0&amp;src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201802%2F26%2F20180226182118_SQ3dB.jpeg" alt=""></div>
    <div class="left"><img src="https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1552565193594&amp;di=ec81c439b33779aa5511cc424c5be083&amp;imgtype=0&amp;src=http%3A%2F%2Fhbimg.b0.upaiyun.com%2Fdb21d7ec4de9221ed4bfdc04ea367ce9d3d1341a12b68-S2KfDs_fw658" alt=""></div>
    <div class="right"><img src="https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1552565193592&amp;di=80281cf417508657aefed5447c5c3bb3&amp;imgtype=0&amp;src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201504%2F10%2F20150410H1444_KwRet.jpeg" alt=""></div>
    <div class="front"><img src="https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1552565274088&amp;di=4a31db352645c13a66d8a6218941f8ca&amp;imgtype=0&amp;src=http%3A%2F%2Fhbimg.b0.upaiyun.com%2Fde7fc739186064b1bbdd969ef2b96744e00e8cb012f5ab-38Hxqd_fw658" alt=""></div>
    <div class="back"><img src="https://gss2.bdstatic.com/9fo3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike933%2C5%2C5%2C933%2C330/sign=3e43658ef6edab64607f4592965fc4a6/7c1ed21b0ef41bd53722f3b15cda81cb39db3d05.jpg" alt=""></div>
</div>
