@model List<XmTest.Data.Entity.Notes>
@{
    ViewBag.Title = "BlogCenter";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@if (Model != null && Model.Count > 0)
{
    <div>
        <h5 class="align_rg">——千千阙歌，照亮我的心灵！</h5>
        @foreach (var item in Model)
        {
            <div class="note">
                <h4 class="align"><a href="/Category/Category/Detail?NoteID=@item.Id">@item.Title</a></h4>
                <div class="indent">
                    <span>@(new HtmlString(item.Content))</span>
                </div>
                <div>

                    <div class="align_rg">
                        <span>@item.UpdateTime.ToString("yyyy-MM-dd HH:mm")   赞(@item.ThumbUpCount)</span><span>踩(0)</span><span>评论(0)</span>
                    </div>
                </div>
            </div>
        }
    </div>
}

