@{
    ViewBag.Title = "DiaryAdd";
    Layout = "~/Views/Shared/_LayoutTwo.cshtml";
}
<style>
    #left {
        position: absolute;
        top: 0px;
        left: 0px;
        margin: 0px;
        padding: 10px;
        border: 0px;
        background: #FFF;
        width: 190px; /* ie5win fudge begins */
        /*voice-family: "\"}\"";*/
        voice-family: inherit;
        width: 170px;
    }

    html > body #left {
        width: 170px; /* ie5win fudge ends */
    }

    #middle {
        padding: 10px;
        border: 0px;
        background: #FFF;
        /* ie5win fudge begins */
        margin: -20px 190px 0px 190px;
        /*voice-family: "\"}\"";*/
        voice-family: inherit;
        margin-top: 0px;
    }

    html > body #middle {
        margin-top: 0px; /* ie5win fudge ends */
    }

    #right {
        position: absolute;
        top: 0px;
        right: 0px; /* Opera5.02 will show a space at right
        when there is no scroll bar */
        margin: 0px;
        padding: 10px;
        border: 0px;
        background: #FFF;
        width: 190px; /* ie5win fudge begins */
        /*voice-family: "\"}\"";*/
        voice-family: inherit;
        width: 170px;
    }

    html > body #right {
        width: 170px; /* ie5win fudge ends */
    }
</style>
<div>
    <div id="middle">2</div>
    <div id="right">3</div>
</div>
